.header {
  display: flex;
  max-width: 100%;
  padding: 1.2rem 1rem;
  margin: 10px 5px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--bg-header);
}
.header form {
  display: flex;
  gap: 2rem;
}
.header input {
  width: 150px;
  padding: 0.6rem 0.2rem;
  font-size: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: black;
  border: none;
}
.header input::placeholder {
  color: var(--header-letter);
}

.header button {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 4rem;
  padding: 0.6rem 0.8rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  color: var(--btn-letter);
  background: var(--btn-bg);
}
.header button:hover {
  background: var(--btn-bg-hover);
}
